<html>
<head>
  <title>Not here</title>
</head>
<body>
<h1>Not here</h1>
  <p>These are not the bits you were looking for</p>
<p>Maybe try <a href="{{ url_for("register") }}">the home page</a>?</p>
</body>
</html>
